<div class="support-ticket support-ticket-{{ obj.pk }} {% if obj.closed %}closed{% endif %} {% if obj.unread %}unread{% endif %}"
     data-id="{{ obj.pk }}">
    {% if not obj.bot_is_active %}
        <H3>Bot not active</H3>
    {% endif %}
    {% if obj.bot_is_active%}
        <div class="get_token_auto">
            <input type="hidden" name="bot_id" class="bot_id" value="{{ obj.id }}">
            <input type="button" class="get_token_auto" data-id="{{ obj.pk }}" value="Activate Bots">
        </div>
    {% endif %}
</div>